.fullscreenWrapper {
  overflow: hidden;
  width: 90%;
  box-sizing: border-box;
}

.fullscreen {
  transform-style: preserve-3d;
}

.fullscreenImg {
  opacity: 0;
  position: absolute;
  top:0;
  width: 40%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  /* transition: opacity .5s; */
}

.fullscreenImg.initial,
.fullscreenImg.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.fullscreenImg.prev,
.fullscreenImg.next {
  z-index: 800;
}
/* .fullscreenImg.prev {
  transform: translateX(-100%);
}
.fullscreenImg.next {
  transform: translateX(100%);
} */

.fullscreenButton--prev,
.fullscreenButton--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid white;
}
.fullscreenButton--prev {
  left:0;
}
.fullscreenButton--next {
  right:0;
}
.fullscreenButton--prev::after,
.fullscreenButton--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.fullscreenButton--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.productName{
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.05em;
}

.productPrice{
  font-family: Oswald, sans-serif;
  font-size: 28px;
  font-weight: bolder;
	font-style: normal;
}

.productDetails{
  font-family: Oswald, sans-serif;
  font-size: 13px;
  font-style: normal;
  letter-spacing: 0.05em;
}